<html>
    <head>
        <title>Admin Dashboard</title>
    </head>
    <body>
        <h1>Admin Dashboard</h1>
        <br>
        <a href="">User Management</a>
        <a href="">Expense Report</a>
        <a href="">Activity Logs</a>
        <br>

        <table>
            <ul>
                <a href=""><li>Manage Users</li></a>
                <a href=""><li>View Expense</li></a>
                <a href=""><li>SystemLogs</li></a>
            </ul>
        </table>
        <br>

        <h2>User Management</h2> <br>
        Username: 
        <input type="text" name="" value="">
        Email:
        <input type="email" name="" value="">
        Role:
        <select>
            <option selected value="">Admin</option>
            <option  value="">HR</option>
            <option  value="">Manager</option>

        </select>
        <input type="submit" name="" value="Add User">
        <br>
        <h2>Expense Reports</h2> <br>
        <!--summary of the expense-->
        <!--expense data will be displayed here-->

        
        <h2>Activity Logs</h2> <br>
         <!--system activity logs will appear here-->
          <!--no logs available yet-->
           <!--2024 FinFlow Manager. All rights received-->
         
            
           
    </body>
</html>