<html>
    <head>
        <title>HR Manager Dashboard</title>
    </head>
    <body>
        <h1>HR Manager Dashboard</h1>
        <br>
        <a href="">Attendance</a>
        <a href="">Performance</a>
        <a href="">Payroll</a>
        <a href="">Leave</a>
        <a href="">Request</a>
        <br>

        <table>
            <ul>
                <a href=""><li>Manage Attendance</li></a>
                <a href=""><li>Track Performance</li></a>
                <a href=""><li>Manage Payroll</li></a>
                <a href=""><li>Approval Leave</li></a>
            </ul>
        </table>
        <br>

        <h2>Manage Attendance</h2> <br>
        Employee ID: 
        <input type="text" name="" value="">
        Date:
        <input type="date" name="" value="">
        Status:
        <select>
            <option selected value="">Present</option>
            <option value="">Absent</option>

        </select>
        <input type="submit" name="" value="Update Attendance">
        <br>
        <h2>Track Performance</h2> <br>
        <!--performance metrics for employees-->

         <fieldset>
        <table>
            <tr>
                <td><b>Employee ID</b></td>
                &nbsp;&nbsp;<td><b>Task</b></td>
                &nbsp;&nbsp;<td><b>Completion Rate</b></td>
                &nbsp;&nbsp;<td><b>Remarks</b></td>
            </tr>
        </table>
            </fieldset> <br>

            <h2>Manage Payroll</h2> <br>
            Employee ID: 
        <input type="text" name="" value="">
        Base Salary:
        <input type="text" name="" value="">
        Deduction:
        <input type="text" name="" value="">

        <input type="submit" name="" value="Cancel Payroll">
        <br>
         
        <h2>Approval Leave Request</h2> <br>

        <fieldset>
            <table>
                <tr>
                    <td><b>Employee ID</b></td>
                    &nbsp;&nbsp;<td><b>Leave Type</b></td>
                    &nbsp;&nbsp;<td><b>Deduction Reason</b></td>
                    &nbsp;&nbsp;<td><b>Action</b></td>
                </tr>
            </table>
                </fieldset> 
           
    </body>
</html>