<html>
<head>
    <title>Login Page</title>
</head>
<body>
        <form method="post" action="logincheck.php" enctype="">
            <table>
                <fieldset width="100" align="center">
                <legend>LOGIN</legend>
    
                <div>
                    Username <input type="text" name="name" value="" />
                </div> <br>
                <div>
                    Password <input type="password" name="password" value="" />
                </div> <br>
            
                <div>
                <input type="submit" name="submit" value="Submit" />
                </div>
                </fieldset>
            </table>
        </form>
</body>
</html>