<html>
    <head>
        <title>Registration Form</title>
    </head>
    <body>
        <h1>Registration Form </h1>
        <form method="post" action="registrationcheck.php" enctype="">
            
            
        <table >
            <fieldset width ="100" align="center">
            <legend>SIGNUP</legend>
            <div>
                <label for="name">Name: </label>
                <input type="text" name ="name" id="name">
            </div><br>
            <div>
                <level for="password">Password: </level>
                <input type = "password" name ="password" id="password">
            </div><br>
            <div>
                <level for= "email">Email: </level>
                <input type = "email" name ="email" id="email">
            </div><br>
            <div>
                <label for="gender">Gender</label>
                <input type="radio" name="gender" id="gender" value="male"> Male
                <input type="radio" name="gender" id="gender" value="female"> Female
            </div><br>
            <div>
                <level for="number">Number: </level>
                <input type="numder" name="number" id="number">
            </div><br>
            <div>
              <input type="submit" name="submit" value="Register">
              <input type="reset" value="Clear">
            </div><br>

            <div>
                already Registered! <input type="button" name="login" value="Login"> <br>

            </div>


            </fieldset>

        </table>

        </form>

    </body>

</html>