<html>
    <head>
        <title>User Dashboard</title>
    </head>
    <body>
        <h1>User Dashboard</h1>
        <br>
        <a href="">Attendance</a>
        <a href="">Task</a>
        <a href="">Salary</a>
        <a href="">Leave Request</a>
        <br>

        <table>
            <ul>
                <a href=""><li>View Attendance</li></a>
                <a href=""><li>Update Task</li></a>
                <a href=""><li>View Salary</li></a>
                <a href=""><li>Request Leave</li></a>
            </ul>
        </table>
        <br>

        <h2>View Attendance</h2> <br>
        <fieldset>
            <table>
                <tr>
                    <td><b>Date</b></td>
                    &nbsp;&nbsp;<td><b>Status</b></td>
                </tr>
            </table>
                </fieldset> <br>


                <h2>Update Task</h2> <br>

        Task Title: 
        <input type="text" name="" value="">
        Progress(%):
        <input type="text" name="" value="">
        Remarks:
        <textarea></textarea>
        <input type="submit" name="" value="Submit">
        <br>

        <h2>View Salary Breakdown</h2> <br>
        <!--performance metrics for employees-->

         <fieldset>
        <table>
            <tr>
                <td><b>Month</b></td>
                &nbsp;&nbsp;<td><b>Gross Salary</b></td>
                &nbsp;&nbsp;<td><b>Deduction</b></td>
                &nbsp;&nbsp;<td><b>Net Salary</b></td>
            </tr>
        </table>
            </fieldset> <br>

            <h2>Request Leave</h2> <br>
            Leave Type: 
            <select>
                <option selected value="">Sick Leave</option>
                <option  value="">Others</option>
    
            </select>
        Duration(Days):
        <input type="text" name="" value="">
        Reason:
        <textarea></textarea>
        <input type="submit" name="" value="Submit">
        <br>
       
           
    </body>
</html>